
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

.projectHeading
{
    text-align: center;
    margin: 1rem;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
}
.btn
{
    margin: 1rem  .5rem ;
    padding: .7rem 1.5rem ;
    border: none;
    border-radius: 5px ;
    color: white;
    background: #3498db;
    transition: all 0.2s ease-in-out;
}
.btn:hover
{
    transform: scale(.90);
}
.progressContainer
{
    display: flex;
    margin-right: -3rem;
    position: relative;
}
.circle
{
    margin-right: 3rem;
    background-color: #e7e7e7;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.circle.active
{
    border: 1px solid #0968a8;
}

.progressContainer::before
{
    content: "";
    background-color: #e0e0e0;
    height: 4px;
    position: absolute;
    width: 84%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}
.progressBar
{
    /* content: ""; */
    background-color: #3498db;
    height: 4px;
    position: absolute;
    width: 0%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.btn:disabled
{
    cursor: not-allowed;
    background-color: #e0e0e0;
}